@import '../../styles/colors';

.main-content-inner {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 23px 0;

    .filter {
        min-width           : 386px;
        background-color: $gray1;
        height: fit-content;
    }
}