@import '../../styles/colors';

.content-container {
    display       : flex;
    flex-direction: column;

    .content {
        width           : 794px;
        height          : 414px;
        margin          : 0 0 30px 20px;
        padding         : 30px;
        background-color: $gray1;

        .polygon-letter {
            position       : relative;
            display        : flex;
            justify-content: flex-start;
            flex-direction : row;
            margin-bottom: 14px;

            span {
                position     : absolute;
                top          : 50%;
                left         : 3.7%;
                transform    : translate(-50%, -50%);
                -ms-transform: translate(-50%, -50%);
                text-align   : center;

                font-family   : greycliff-cf-bold;
                font-size     : 30px;
                font-weight   : bold;
                font-stretch  : normal;
                font-style    : normal;
                line-height   : normal;
                letter-spacing: normal;
                text-align    : center;
                color         : $gray1;
            }
        }

        .games {
            display  : flex;
            flex-wrap: wrap;
            .game {
                flex: 1 50%;
                padding-top: 16px;

                font-family: greycliff-cf-light;
                font-size: 16px;
                font-weight: normal;
                font-stretch: normal;
                font-style: normal;
                line-height: normal;
                letter-spacing: normal;
                color: $gray3;
                cursor: pointer;

                &:hover {
                    color: $white;
                }
            }
        }
    }
}