@import '../../styles/colors';

.search-container {
    .search-and-icons {
        display         : flex;
        flex-direction  : row;
        align-items     : center;
        margin-top      : 24px;
        width           : 793px;
        height          : 56px;
        background-color: $white;

        .icon {
            padding-left: 17px;
        }

        .input-container {
            padding-left: 17px;

            #input {
                width    : 634px;
                border   : unset;
                font-size: 20px;

                &::placeholder {
                    color: $gray2;
                }

                &:focus {
                    border : unset;
                    outline: unset;
                }
            }
        }

        .clear-icon {
            display        : flex;
            justify-content: flex-end;
            width          : 100%;
            padding-right: 24px;
            cursor:pointer;
        }
    }

    .search-dropdown {
        position        : absolute;
        display         : flex;
        flex-direction  : column;
        align-items     : flex-start;
        background-color: $white;
        margin-top      : 1px;
        z-index         : 1;
        width           : 632px;
        height: 144px;
        overflow: auto;
        padding         : 10px 103.1px 20px 57.9px;

        .search-item {
            display       : flex;
            align-items   : center;
            font-family   : greycliff-cf-light;
            font-size     : 20px;
            font-weight   : normal;
            font-stretch  : normal;
            font-style    : normal;
            line-height   : normal;
            letter-spacing: normal;
            color         : $gray1;
            cursor        : pointer;
            padding: 7px 0;
        }
    }
}